p2/daily_engagement_full.csv
sh.exe.stackdump
p3/2013_ERCOT_Hourly_Load_Data.xls
p3/.~lock.2013_ERCOT_Hourly_Load_Data.xls#
p3/2013_Max_Loads.csv
p3/745090.csv
p3/blubb.csv
p3/bla.txt
p3/Assignment/*.osm
p3/Assignment/*.json
p3/Assignment/*.pyc
*.html
p3/Assignment/p3_assigment_jenslaufer.zip
*.zip
*.tsv
*.csv
p4/lesson4/diamond_bivariate.pdf
p4/lesson4/.RData
p4/lesson4/.Rhistory
p4/Lesson5/problem_set5.pdf
p4/Lesson 1 Notes.pdf
p4/Lesson 2 Notes.pdf
p4/Lesson 3 Notes.pdf
p4/Lesson 4 Notes.pdf
p4/Lesson 5 Notes.pdf
p4/Lesson 6 Notes.pdf
p4/Lesson6/.RDataTmp
p4/Lesson6/.Rhistory
p4/Lesson6/BigDiamonds.Rda
p4/Assignment/.RData
p4/Assignment/.Rhistory
p4/Assignment/jenslaufer_p4_assignment.pdf
